*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    color: white;
    background: #03a9f4; 
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;

}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    outline: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    color: rgb(85, 85, 85);
}
.container h1{
    font-family: 500;
    font-size: 45px;
}
.container h1 span{
    color: #333333;
    border-bottom: 4px solid #333333; 
    padding-bottom:7px ;

}
.display input{
    border: 0;
    outline: 0;
    font-size: 22px;
    cursor: pointer;
}
.display img{
    width: 25px;
    cursor: pointer;
}
.container button{
    background: #333333;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    outline: 0;
    font-weight: 300;
    cursor: pointer;
}